pre {
    max-height: 42em;
    border-radius: 5px;
    -moz-tab-size:    4pt; /* Firefox 4+ */
    -o-tab-size:      4pt; /* Opera 11.5 & 12.1 only */
    tab-size:         4pt; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}

code {
    height: 100%;
    tab-size: 4;
    -moz-tab-size:    4pt; /* Firefox 4+ */
    -o-tab-size:      4pt; /* Opera 11.5 & 12.1 only */
}

table {
    max-height: 42em;
}